/* You can add global styles to this file, and also import other style files */


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Ubuntu:wght@300;400&display=swap');

html,
body {
  background-color: #fcebe7 !important;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

header {
  background: rgba(150, 150, 150, 0.5);
  border-bottom: solid 1px;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

main {
  padding-top: 5px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 60px;
}

.contact-img {
  width: 150px;
  border-radius: 50%;
  margin-right: 150px; 

}

.contact-img-big {

width: 200px;
border-radius: 50%;
margin-right: 150px; 

}















html, body { height: 100%; }
body { margin: 0; font-family: 'Ubuntu', sans-serif !important; }
