<div class="container"><div class="row">
    <div class="col"><p class="h3 text-danger fw-bold">App Contatti 22 

        <a class="btn btn-danger btn-sm" routerLink="/contacts/add"><i class="fa fa-plus-circle"></i>New</a>
    </p>
    <p class="fst-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus eveniet quasi laudantium earum minima obcaecati repellat molestiae dolorum doloremque ullam facere quisquam, quos harum in praesentium sint odit illo error?</p>
<form>
    <div class="row">
        <div class="col-md-6">
            <div class="row"><div class="col">
                <input type="text" class="form-control" palceholder="Search User" type="text">

            </div>
            <div class="col">
                <input type="submit" class="btn btn-outline-dark" value="eSearch">
            </div>
        </div>
        </div>
    </div>
</form>    
</div>
</div></div>

<!-- container Cards-->
<div class="container mt-3">
    <div class="row">
        <div class="col-md-6">
            <div class="card list-group-item-danger shadow-lg">

            
        <div class="card-body">
<div class="row">
    <div class="col-sm-4">
        <img src="../../../assets/images/man1.jpeg" class="contact-img">
    </div>
<div class="col-sm-7">
    <ul class="list-group">
        <li class="list-group-item">
            Nome: <span class="fw-bold">Nome</span></li>
            <li class="list-group-item">
                Email: <span class="fw-bold">Email</span></li>
                <li class="list-group-item">
                    Mobile: <span class="fw-bold">Mobile</span></li>
        
    </ul>
    </div>
<div class="col-sm-1 d-flex flex-column justify-content-center align-items-center">
    <a class="btn btn-warning my-1" routerLink="/contacts/view/:contactId">

        <i class="fa fa-eye"></i>
    </a>

    <a class="btn btn-primary my-1" routerLink="/contacts/edit/:contactId">
        <i class="fa fa-pen"></i>
    </a>
    <button class="btn btn-danger my-1"><i class="fa fa-trash-alt"></i></button>
    
    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
</div>
