<div class="container">
    <div class="row">
        <div class="col"><p class="h3 fw-bold text-danger">Aggiungi COntatto</p>
            <p class="fst-italic">Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Sequi, doloribus autem. Suscipit quaerat deserunt consequatur ducimus, culpa similique nemo, 
             animi repellendus quis voluptates error. Laudantium impedit eveniet quibusdam corrupti aspernatur.</p>
        
        
        </div>
    </div>
</div>

<!-- Create Contact -->
<div class="container">
<div class="row">
    <div class="col-sm-3">
            <form>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Nome">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Foto url">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Email">
                </div>
                <div class="mb-2">
                    <input type="number" class="form-control" placeholder="Mobile">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Company">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Titolo">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Nome">
                </div>
                <div class="mb-2">
                    <select class="form-control">
                        <option value="">Seleziona:</option>

                    </select>
                </div>
                <div class="mb-2">
                    <input type="submit" class="btn btn-danger" value="Crea">
                    <a routerLink="/" class="btn btn-dark ms-2">chiudi</a>
                </div>

                
            </form>
            <div class="col-sm-4">
                <img src="../../../assets/images/man1.jpeg" alt="" class="contact-img">
            </div>
    </div>
</div>
</div>
